.cardView {
    width:100%;
}

.cardItem{
    display:inline-block;
    height:200px;
    width:210px;
    background-color:#FFF8D7;
    margin:10px;
    float:left;
}

.cardItem >.image{
    display:inline-block;
    /*height:100px;
    width:180px;*/
    background-color:azure;
    margin:10px;
}

.cardItem >.image > .foodImage{
    /*display:inline-block;
    height:100px;
    width:180px;*/
    text-align:center;
    border: 5px solid #ccc;  
    float: left;
    /*margin: 15px 0;*/  
    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease; 

}

.cardItem >.image >.foodImage:hover{
    /*position:absolute;*/
    height:130px;
    width:300px;
    /*margin-top: 2px;*/  
    margin-left: -50px;
}

.cardItem >.image:hover img{
    
    
}

.cardItem >.toolbar{
    display:inline-block;
    height:50px;
    width:180px;
    margin:10px 0px 10px 75px;
    text-align:center;
}

.cardItem >.toolbar> .toolbarItem {
    display:inline-block;
    height:20px;
    width:20px;
    border:1px solid;
    float:left;
    text-align:center;    
}

.cardItem .toolbar .toolbarItem a{
    cursor:pointer;  
}

.priceZone {
    display:block;
    text-align:center;
    margin-left:75px;
}

.priceZone label{
    display:block;
    float:left;
}